
body {
  display: flex;
  background-color: #d0fcfc;
  flex-direction: column;
  justify-content: space-between;
    font-family: "Anonymous Pro", sans-serif;
    line-height: 1.3;
    color: #000000;
}







      .container1 {
        display: flex;
        justify-content: space-between;
        font: 26px/1.5 sans-serif;
        margin: 25px;
        background-color: #73af8d;
      }
      

      
        .container2 {
          display: flex;
          justify-content: space-around;
          font: 26px/1.5 sans-serif;
          margin: 25px;
          background-color: #c6ded0;
        }
        

        
        .container3 {
          display: flex;
          justify-content: space-around;
          font: 18px/1.5 sans-serif;
          margin: 25px;
          
        }
        
       
      .container4 {
        display: flex;
        justify-content: space-around;
        font: 17px/1.5 sans-serif;
        
      }
      
      
    .container5 {
      display: flex;
      justify-content: space-around;
      font: 14px/1.5 sans-serif;
      
    }
    
    
    .container {
      display: flex;
      justify-content: space-around;
      font: 22px/2.5 sans-serif;

      background-color: #5a856d;
    }
    