
      .container1 {
        display: flex;
        justify-content: space-between;
        font: 26px/1.5 sans-serif;
      }
      

      
        .container2 {
          display: flex;
          justify-content: center;
          font: 26px/1.5 sans-serif;
        }
        

        
        .container3 {
          display: flex;
          justify-content: center;
          font: 16px/1.5 sans-serif;
        }
        
       
      .container4 {
        display: flex;
        justify-content: center;
        font: 17px/1.5 sans-serif;
      }
      
      
    .container5 {
      display: flex;
      justify-content: center;
      font: 14px/1.5 sans-serif;
    }
    
    
    .container {
      display: flex;
      justify-content: space-around;
      font: 18px/1.5 sans-serif;
    }
    